/* login */
main {max-width:400px; margin:0 auto; padding:247px 0 150px; text-align:center;}
main h1 {font-size:2rem; font-weight:500;}
main .sns_login {margin:70px 0 25px;}
main .sns_login h2 {margin-bottom:25px;}
main .sns_login .sns_btn {display:flex; gap:20px; width:max-content; margin:0 auto;}
main .sns_login .sns_btn a {width:42px; display:inline-block;}
main .sns_login .sns_btn a img {width:100%;}
main .id_login {}
main .id_login #login_frm {}
main .id_login #login_frm .id_pw_wrap {}
main .id_login #login_frm .id_pw_wrap input:focus {border-color:red;}
main .id_login #login_frm .id_pw_wrap input {
    width:100%; text-align:left; padding:18px 10px; border:1px solid #ccc; border-radius:5px; font-weight:300;}
main .id_login #login_frm .id_pw_wrap input:first-child {margin-bottom:5px;}
main .id_login #login_frm .error_msg {color:#f00; text-align:left; font-size:0.875rem; margin:10px 0 0; line-height:130%;}
main .id_login #login_frm #login_btn {
    width:100%; padding:18px 10px; border:1px solid #C86734; background-color:#C86734;
    border-radius:5px; color:#fff; margin:10px 0; font-weight:600;}
main .id_login .login_bottom {display:flex; flex-flow:row nowrap; justify-content:space-between; margin-bottom:25px;}
main .id_login .login_bottom .login_chk {}
main .id_login .login_bottom .login_chk input {display:none;}
main .id_login .login_bottom .login_chk label {background:url(../images/chk_off.png) no-repeat; background-size:17px; padding-left:23px;}
main .id_login .login_bottom .login_chk label span {font-size:0.875rem;}
main .id_login .login_bottom .find_login {}
main .id_login .login_bottom .find_login a {font-size:0.875rem;}
main .id_login .join_inquiry {display:flex; flex-flow:column nowrap; gap:10px;}
main .id_login .join_inquiry a {width:100%; padding:18px 10px; border:1px solid #ccc; border-radius:5px;}
main .id_login .join_inquiry a:hover {color:#C86734; border-color:#C86734;}

/* 반응형 */
@media screen and (max-width:420px){
    main {min-width:320px; padding:177px 10px 80px;}
    main .id_login #login_frm .id_pw_wrap input {}
    main .id_login #login_frm #login_btn {}
}